# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Dart

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: ckeckout
        uses: actions/checkout@v4

      - name: Install flutter
        run: subosito/flutter-action@v2
        with:
          flutter-version: "3.10.7"
    
      -  name: Build APK
        run: flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifacts@v4
        with:
          path: build/app/outputs/flutter-apk/app-release.apk
